{:paths ["src" "resources"]
 :deps {clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        missionary/missionary {:mvn/version "b.43"}
        aero/aero {:mvn/version "1.1.6"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
